@use "variables" as v;
@use "../base/mixins" as m;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$font_roboto;
}

p {
  color: v.$black;
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.MuiTableCell-root {
  padding: 8px !important;
  max-width: 10rem !important;

  @include m.tablet {
    max-width: 2rem !important;
  }

  &:nth-child(1) {
    width: 1rem !important;
  }
}

.MuiTableCell-head {
  font-weight: bold !important;
}

blockquote {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.ticket-ellipsis {  
  text-overflow: ellipsis;
}
