@use "variables" as v;
@use "../base/mixins" as m;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$font_roboto;
}

p {
  color: v.$black;
  margin: 0;
}

.spinner_container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
