@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

//* Fonts
$font_roboto: "Roboto", sans-serif;

//* Media Queries
$phone: 375px;
$tablet: 768px;
$desktop: 1200px;

//* colors
$primary: #0d75dc;
$white: #ffffff;
$alert: #990000;
$black: #0b0d17;
$green: #00bb2d;
